<cuantos-alumnos     
                [todos] ="getNumTodos()" 
                [hombres]="getNumHombres()"
                [mujeres]="getNumMujeres()"
                (globalElegido)="alCambiar($event)"><!-- No hay problema en acceder a los métodos porque es un componente hijo -->
</cuantos-alumnos><!--globalElegido es el nombre del evento que se ha creado en el componente hijo-->
<table>
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Apellidos</th>
            <th>Direccion</th>
            <th>Fecha de Nacimiento</th>
            <th>Sexo</th>
            <th>Nombre del padre</th>
        </tr>
    </thead>
    <tbody>
        <ng-container *ngFor="let alumno of alumnos"><!--ng-container es un contenedor que no se renderiza en el DOM-->
            <tr *ngIf="alumno.sexo == seleccion || seleccion == 'Todos'"><!--ngFor es una directiva que permite iterar sobre una colección-->
                <td>{{alumno.nombre | uppercase | alumnoTitulo:alumno.sexo}}</td><!--aplico un pipe con la | a la derecha se dice lo que quieres aplicar -->
                <td>{{alumno.apellidos | uppercase}}</td>
                <td>{{alumno.direccion}}</td>
                <td>{{alumno.fnac | date:'dd-MMMM-YYYY'}}</td>
                <td>{{alumno.sexo }}</td>
                <td>{{alumno.nom_padre}}</td>
            </tr>
        </ng-container>
        <tr *ngIf="alumnos.length == 0">
            <td colspan="5">No hay alumnos</td>
        </tr>
        
    </tbody>
</table>