<table>
    <thead>
        <tr>
            <!--<th attr.colspan={{columnas}}>Ciclista</th> otra forma de indireccionamiento más. Enlace de datos-->
            <th [attr.colspan]="columnas">Ciclista</th> <!--otra forma de indireccionamiento más, interpolación-->
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Nombre</td>
            <td>{{nombre}}</td>
        </tr>
        <tr>
            <td>Apellidos</td>
            <td>{{apellidos}}</td>
        </tr>
        <tr *ngIf="visibles">
            <td>Direccion</td>
            <td>{{direccion}}</td>
        </tr>
        <tr *ngIf="visibles">
            <td>Edad</td>
            <td>{{edad}}</td>
        </tr>
    </tbody>
</table>
<br>
<!--El siguiente botón sirve para alternar la visibilidad de la Direccion y la Edad-->
<!--Ponemos un if que cambia el texto del botón según el valor de visibles-->
<button (click)="alternarVisibilidad()"> {{ visibles ? "Ocultar" : "Mostrar" }} Detalles</button>