@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');


table{
    color: #369;
    font-family: JetBrains Mono;
    font-size: large;
    border-collapse: collapse;
    font-style: italic;
}
td{
    border: 1px solid green;
}
h1{
    color: #123
}