<div class="row justify-content-center">
      
        <table class="w-50 table table-sm table-bordered ">
            <thead>
                <tr>
                    <!--<th attr.colspan={{columnas}}>Ciclista</th> otra forma de indireccionamiento más. Enlace de datos
                    <th [attr.colspan]="columnas">Ciclista</th> <!--otra forma de indireccionamiento más, interpolación
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Nombre</td>
                    <td>{{nombre}}</td>
                </tr>
                <tr>
                    <td>Apellidos</td>
                    <td>{{apellidos}}</td>
                </tr>
                <tr *ngIf="visibles">
                    <td>Direccion</td>
                    <td>{{direccion}}</td>
                </tr>
                <tr *ngIf="visibles">
                    <td>Edad</td>
                    <td>{{edad}}</td>
                </tr>
            </tbody>-->
                    <th colspan="2">Ciclista</th> <!--otra forma de indireccionamiento más, interpolación-->
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Id</td>
                    <td>{{alumno.id}}</td>
                <tr>
                    <td>Nombre</td>
                    <td>{{alumno.nombre}}</td>
                </tr>
                <tr>
                    <td>Apellidos</td>
                    <td>{{alumno.apellidos}}</td>
                </tr>
                <tr>
                    <td>Direccion</td>
                    <td>{{alumno.direccion}}</td>
                </tr>
                <tr >
                    <td>Fecha de Nacimiento</td>
                    <td>{{alumno.fnac | date:'dd-MMMM-YYYY'}}</td>
                </tr>
                <tr>
                    <td>Sexo</td>
                    <td>{{alumno.sexo}}</td>
            </tbody>
        </table>
        <br>
        <!--El siguiente botón sirve para alternar la visibilidad de la Direccion y la Edad-->
        <!--Ponemos un if que cambia el texto del botón según el valor de visibles
        <button class="btn btn-outline-primary " [ngClass]="{'btn-primary' : visibles}" (click)="alternarVisibilidad()"> {{
            visibles ? "Ocultar" : "Mostrar" }} Detalles</button>-->
</div>