/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

.negrita{
    font-weight: bold;
}
.italica{
    font-style: italic;
}
.color{
    color: red;
}
h1{
    color: #369;
    font-family: JetBrains Mono;
    font-size: 150%;
}
body{
    padding: 20px;
    background-color: antiquewhite;
}
